services:
  fusionn-subs:
    container_name: fusionn-subs
    build: .
    volumes:
      - /Volumes/External:/data
    environment:
      REDIS_URL: redis://redis:6379/0
      REDIS_QUEUE: translate_queue
      CALLBACK_URL: http://192.168.50.135:4664/api/v1/async_merge
      GEMINI_API_KEY:
      GEMINI_MODEL: gemini-2.5-flash
      TARGET_LANGUAGE: zh
      OUTPUT_SUFFIX: chs
      LOG_LEVEL: info
      RATE_LIMIT: 5
      GEMINI_MAX_BATCH_SIZE: 30
      PUID: 501
      PGID: 20
      TZ: Asia/Shanghai
    networks:
      - fusionn_default
networks:
  fusionn_default:
    external: true
